<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body class="container">
<form action="/update-bill" method="post" class="container" >
    <label class="col-6 mb-4 text-start">Id</label><input type="text" name="id" th:value="${b.id}" readonly> <br>
    <label class="col-6 mb-4 text-start">Code</label><input type="text" name="code" th:value="${b.code}"> <br>
    <label class="col-6 mb-4 text-start">Created_At</label><input type="date" name="createdAt" th:value="${b.createdAt}"> <br>
    <label class="col-6 mb-4 text-start">Total</label><input type="number" name="total" th:value="${b.total}"> <br>
    <label class="col-6 mb-4 text-start">Status</label><input type="text" name="status" th:value="${b.status}"> <br>
    <label class="col-6 mb-4 text-start">User</label>
    <select th:name="user">
        <div class="form-select">
            <option th:each="u : ${users}"
                    th:value="${u.id}"
                    th:text="${u.fullname}"
                    th:selected="${u.id == b.user?.id}">
            </option>
        </div>
    </select>
    <br>
    <button class="btn btn-outline-dark">Update</button>
    <a href="/bill" class="btn btn-outline-dark">Back</a>
</form>
<table class="table table-hover mb-5">
    <thead>
    <tr>
        <th>Id</th>
        <th>Code</th>
        <th>Created_At</th>
        <th>Total</th>
        <th>Status</th>
        <th>User</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="b : ${bills}">
        <td th:text="${b.id}"></td>
        <td th:text="${b.code}"></td>
        <td th:text="${b.createdAt}"></td>
        <td th:text="${b.total}"></td>
        <td th:text="${b.status}"></td>
        <td th:text="${b.user?.fullname}"></td>
        <td>
            <a th:href="@{|/detail-bill?id=${b.id}|}" class="btn btn-outline-dark">Detail</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>